@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.btn{
  padding: 0.5rem 1rem;
  background: rgb(14,121,189);
  border: 1px solid transparent;
  border-radius: 0.5rem;
  color: white;
}

.btn:hover{
  cursor: pointer;
}

.heading{
  text-align: center;
}

.heading__main{
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.heading__sec{
  font-size: 1.4rem;
  font-weight: 500;
}

h2{
  font-size: 1.7rem;
}